
body {
    background-color: #363543;
    color: #FFFFFF;
}

.navbar {
    position: absolute;
    display: block;
    height: 1.5em;
    font-size: 20pt;
    margin: 0 0.5em;
}

.navbar a {
    margin: 0 0.2em;
    text-decoration: none;
    color: #d6d5e0;
    position: relative;
    transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.navbar a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0px;
    bottom: 0;
    background-color: #FFFFFF;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.navbar a:hover {
    color: white;
}

.navbar a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.navbar a.external::after {
    content: url("assets/external-link-alt-solid.svg");
    display: inline-block;
    height: 0.5em;
    width: 0.5em;
    margin: 0 0 0 0.15em;
    opacity: 0.75;
    transition: opacity 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    position: relative;
    top: 0em;
}

a.external:hover::after {
    opacity: 1;
}