
@font-face {
    font-family: Sriracha;
    src: url(./fonts/Sriracha-Regular.ttf);
}
@font-face {
    font-family: Merriweather;
    src: url(./fonts/Merriweather-Regular.ttf);
}
:root {
    --navbar-font-size: 18pt;
    --main-colors-0: #45ceb7;
    --main-colors-1: #48b2d4;
    --main-colors-2: #5e91f5;
    --main-colors-3: #8a8aff;
    --main-colors-4: #ba8cfc;
    --main-colors-5: #e488ed;
    --main-colors-6: #f592b3;
    --main-colors-7: #ffab9a;
    --main-colors-8: #ffc958;
}


@media (min-width: 935px) {
    .list[data-icon=location]::marker {content: url(assets/list_pngs/location.png);}
    .list[data-icon=school]::marker {content: url(assets/list_pngs/school.png);}
    .list[data-icon=gpa]::marker {content: url(assets/list_pngs/gpa.png);}
}
@media (max-width: 935px) {
    .list[data-icon=location]::marker {content: url(assets/list_pngs/location_small.png);}
    .list[data-icon=school]::marker {content: url(assets/list_pngs/school_small.png);}
    .list[data-icon=gpa]::marker {content: url(assets/list_pngs/gpa_small.png);}
    
}

html {scroll-behavior: smooth;}
body {background-color: #FFFFFF; margin: 0px;}

.navbar {position: fixed; top: 0px; left: 0px; width: 100%; height: 3rem; background-color: black; display: flex; flex-flow: row; align-content: center; justify-content: center;}
.navbar_center_option {height: 100%; background-color: black; margin: 0px 4px 0px 4px; padding: 0px 12px 0px 12px; font-family: Sriracha; text-align: center; font-size: var(--navbar-font-size); cursor: pointer; transition: background-color 0.2s linear;}
.navbar_center_option:hover {background-color: white;}
@media (max-width: 1000px) {.navbar_center_option {display: none;}}
.navbar_right_info {height: 100%; color: white; font-family: Sriracha; position: absolute; text-align: right; font-size: var(--navbar-font-size); right: 20px;}
.navbar a {text-decoration: none; color: white;}
.navbar_left_info {height: 100%; color: white; font-family: Sriracha; position: absolute; text-align: right; font-size: var(--navbar-font-size); left: 5px; display: flex; flex-flow: row;}
.navbar_social_button {height: 2rem; width: 2rem; position: relative; top: 0.5rem; margin: 0px 5px 0px 5px;}
.navbar_text {transform:translateY(calc(50% - var(--navbar-font-size))); text-decoration: underline; color: white;  transition: text-decoration 0.2s linear, color 0.2s linear;}
.navbar_center_option:hover .navbar_text {text-decoration: none; color: black;}


.main {position: absolute; top: 3rem; height: calc(100% - 3rem); width: 100%; display: flex; flex-direction: column;}

.divider {width: 100%; margin: 0px 0px -1px 0px; padding: unset; min-height: 100px;}
.circle_picture {border-radius: 100%; aspect-ratio: 1;}

.name {font-family: Merriweather; position: relative; left: 30px; width: calc(100% - 30px); margin-block-start: 0.30em;}
.name_calm {font-family: Merriweather; position: relative; left: 30px; width: calc(100% - 30px); margin-block-start: 0.30em;}
.body {font-family: Merriweather; position: relative;}
.list {padding-left: 15px; margin-top: 10px;}
.list_calm {padding-left: 15px; margin-top: 10px;}

.timeline_container {display: flex; position: relative; width: 90%; left: 5%; margin: 50px 0px 50px 0px; flex-wrap: wrap; padding: 15px; flex-direction: column;}

.skills_container {display: flex; position: relative; width: 90%; left: 5%; margin: 50px 0px 50px 0px; flex-wrap: wrap; padding: 15px; flex-direction: column;}
.skills_skill_left {width: 100%; display: flex; flex-direction: row; margin: 0px 0px 70px 0px;}
.skills_skill_right {width: 100%; display: flex; flex-direction: row-reverse; text-align: right;}
.skills_skill_logo {aspect-ratio: 1; border-radius: 10px; overflow: hidden; flex: 0 0 200px;}
.skills_skill_info {margin: 0px 25px 0px 25px; max-width: calc(100% - 250px);}
.skills_skill_info h1 {font-family: Merriweather; font-size: 30pt;}
.skills_skill_left .knowledgeBar {display: flex; flex-direction: row; justify-content: left;}
.skills_skill_right .knowledgeBar {display: flex; flex-direction: row; justify-content: right;}
.knowledgeBar_dot_side {height: 30px; width: 15px;}
.knowledgeBar .knowledgeBar_dot_side:nth-child(even) {border-radius: 0px 1000px 1000px 0px; margin-right: 3px;}
.knowledgeBar .knowledgeBar_dot_side:nth-child(odd) {border-radius: 1000px 0px 0px 1000px; margin-left: 3px;}
.skills_skill_left .skill_slip_container {display: flex; flex-direction: row; flex-wrap: wrap; margin: 10px 0px 0px 0px; justify-content: left;}
.skills_skill_right .skill_slip_container {display: flex; flex-direction: row; flex-wrap: wrap; margin: 10px 0px 0px 0px; justify-content: right;}
.skill_slip_container a {color: black; text-decoration: none;}
.skill_slip {border-width: 1px; border-style: solid; font-size: 20px; border-radius: 10px; padding: 2px 6px 2px 6px; margin: 0px 2px 6px 2px; cursor: pointer; transition: all 0.1s ease-in-out; white-space: nowrap;}
.skill_slip:hover {border-color: white; color: white;}


@media (min-width: 935px) {
    .circle_picture {width: 300px; height: 300px;}
    .name {font-size: 60pt;}
    .name_calm {font-size: 50pt;}
    .body_wrapper {width: calc(100% - 300px);}
    .body {left: 80px; width: calc(100% - 80px);}
    .list {font-size: 30pt;}
    .list_calm {font-size: 20pt;}
}
@media (max-width: 935px) {
    .circle_picture {width: 150px; height: 150px;}
    .name {font-size: 30pt;}
    .name_calm {font-size: 20pt;}
    .body_wrapper {width: calc(100% - 150px);}
    .body {left: 40px; width: calc(100% - 40px);}
    .list {font-size: 15pt;}
    .list {font-size: 10pt;}
}

