
@font-face {
    font-family: Sriracha;
    src: url(./fonts/Sriracha-Regular.ttf);
}
@font-face {
    font-family: Merriweather;
    src: url(./fonts/Merriweather-Regular.ttf);
}
:root {
    --navbar-font-size: 18pt;
    --main-colors-1: #48b2d4;
    --main-colors-2: #5e91f5;
    --main-colors-3: #8a8aff;
    --main-colors-4: #ba8cfc;
    --main-colors-5: #e488ed;
}


@media (min-width: 935px) {
    .list[data-icon=location]::marker {content: url(assets/list_pngs/location.png);}
    .list[data-icon=school]::marker {content: url(assets/list_pngs/school.png);}
    .list[data-icon=gpa]::marker {content: url(assets/list_pngs/gpa.png);}
}
@media (max-width: 935px) {
    .list[data-icon=location]::marker {content: url(assets/list_pngs/location_small.png);}
    .list[data-icon=school]::marker {content: url(assets/list_pngs/school_small.png);}
    .list[data-icon=gpa]::marker {content: url(assets/list_pngs/gpa_small.png);}
    
}


body {background-color: #FFFFFF; margin: 0px;}

.navbar {position: fixed; top: 0px; left: 0px; width: 100%; height: 3rem; background-color: black; display: flex; flex-flow: row; align-content: center; justify-content: center;}
.navbar_center_option {height: 100%; background-color: black; margin: 0px 4px 0px 4px; padding: 0px 12px 0px 12px; font-family: Sriracha; text-align: center; font-size: var(--navbar-font-size); cursor: pointer; transition: background-color 0.2s linear;}
.navbar_center_option:hover {background-color: white;}
@media (max-width: 935px) {.navbar_center_option {display: none;}}
.navbar_right_info {height: 100%; color: white; font-family: Sriracha; position: absolute; text-align: right; font-size: var(--navbar-font-size); right: 20px;}
.navbar a {text-decoration: none; color: white;}
.navbar_left_info {height: 100%; color: white; font-family: Sriracha; position: absolute; text-align: right; font-size: var(--navbar-font-size); left: 5px; display: flex; flex-flow: row;}
.navbar_social_button {height: 2rem; width: 2rem; position: relative; top: 0.5rem; margin: 0px 5px 0px 5px;}
.navbar_text {transform:translateY(calc(50% - var(--navbar-font-size))); text-decoration: underline; color: white;  transition: text-decoration 0.2s linear, color 0.2s linear;}
.navbar_center_option:hover .navbar_text {text-decoration: none; color: black;}


.main {position: absolute; top: 3rem; height: calc(100% - 3rem); width: 100%; display: flex; flex-direction: column;}

.divider {width: 100%; margin: unset; padding: unset; min-height: 100px;}
.circle_picture {border-radius: 100%; aspect-ratio: 1;}

.card {display: flex; position: relative; width: 80%;left: 10%;border-radius: 25px;background-color: rgba(255, 255, 255, 0.377);margin: 50px 0px 50px 0px;flex-wrap: wrap; padding: 15px;}
.name {font-family: Merriweather; position: relative; left: 30px; width: calc(100% - 30px); margin-block-start: 0.30em;}
.name_calm {font-family: Merriweather; position: relative; left: 30px; width: calc(100% - 30px); margin-block-start: 0.30em;}
.body {font-family: Merriweather; position: relative;}
.list {padding-left: 15px; margin-top: 10px;}
.list_calm {padding-left: 15px; margin-top: 10px;}


@media (min-width: 935px) {
    .circle_picture {width: 300px; height: 300px;}
    .name {font-size: 60pt;}
    .name_calm {font-size: 50pt;}
    .body_wrapper {width: calc(100% - 300px);}
    .body {left: 80px; width: calc(100% - 80px);}
    .list {font-size: 30pt;}
    .list_calm {font-size: 20pt;}
}
@media (max-width: 935px) {
    .circle_picture {width: 150px; height: 150px;}
    .name {font-size: 30pt;}
    .name_calm {font-size: 20pt;}
    .body_wrapper {width: calc(100% - 150px);}
    .body {left: 40px; width: calc(100% - 40px);}
    .list {font-size: 15pt;}
    .list {font-size: 10pt;}
}

